<div ng-show="cargo">
  <!-- Show cargo information dialog -->
  <div class="panel panel-default">
    <table class="table">
      <tr>
	<td>Origin</td>
	<td>{{ cargo.origin }}</td>
      </tr>
      <tr>
	<td>Destination</td>
	<td>{{ cargo.destination }}<br/><a href="" ng-click="open()">Change destination</a></td>
      </tr>
      <tr>
	<td>Arrival deadline</td>
	<td>{{ cargo.arrivalDeadline }}</td>
      </tr>
    </table>
  </div>

  <div ng-if="cargo.routed">
    <div class="has-error" ng-if="cargo.misrouted">
      <span class="help-block">Cargo is misrouted - <a href="#/selectItinerary?trackingId={{ cargo.trackingId }}">Reroute this cargo</a></span>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Itinerary</div>
      <table class="table">
	<tr>
	  <th>Voyage number</th>
	  <th colspan="2">Load</th>
	  <th colspan="2">Unload</th>
	</tr>
	<tr ng-repeat="leg in cargo.legs">
	  <td>{{ leg.voyage }}</td>
	  <td>{{ leg.from }}</td>
	  <td>{{ leg.loadTime }}</td>
	  <td>{{ leg.to }}</td>
	  <td>{{ leg.unloadTime }}</td>
	</tr>
      </table>
    </div>
  </div>

  <div ng-if="cargo.routed === false">
    <div class="has-warning">
      <span class="help-block">Cargo has not been routed - <a href="#/selectItinerary?trackingId={{ cargo.trackingId }}">Route this cargo</a></span>
    </div>
  </div>
</div>

<a class="btn btn-primary" href="#/list">Return to cargo list</a>
</div>
